*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 146, 139);
    padding: 50px ;

}
h2{
    margin-bottom: 5px;
}
.main{
    background-color: white;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    
}
.question{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}
.answer{
    padding-top: 8px;
    line-height: 22px;
    display: none;
}
.answer.active{
    display: block;
}